* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);

  display: grid;
  place-items: center;

  height: 100vh;
}

main {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  gap: 4.8rem;

  border-radius: .6rem;
  background: #FFF;
  box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.10);

  width: min(42.8rem, 90%);

  margin-top: -12rem;
}