* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --color-purple-dark: #34355B;
  --color-purple-light: #7879F1;
}

body {
  background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);

  display: grid;
  place-items: center;

  height: 100vh;
  font-size: 1.6rem;
}

body, button, input {
  font-family: 'DM Sans', sans-serif;
}

main {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  gap: 4.8rem;

  border-radius: .6rem;
  background: #FFF;
  box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.10);

  width: min(42.8rem, 90%);

  margin-top: -12rem;

  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

h1, p {
  color: rgba(52, 53, 91, 0.80);
}

p {
  opacity: 0.8;
}

form {
  margin-top: 4.8rem;

  display: flex;
  justify-content: center;
}

input, button {
  padding: 1.6rem;
  border: none;
}

form input {
  border-radius: .4rem 0 0 .4rem;
  background: #DCE2E9;
  width: 6rem;
}


form button {
  border-radius: 0 .4rem .4rem 0;
  background: var(--color-purple-light);
  color: #FFF;
  font-weight: 700;
}